{% extends "base.html" %}
{% load humanize %}
{% load i18n %}
{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block content %}

<h2>{% trans "Latest Messages" %}</h2>

<table class='list'> 
    <colgroup> 
    <col class='number' />
    <col class='name' />
    <col class='name' />
    <col class='number' />
    </colgroup> 
<tr class='secondRow doNotFilter'>
    <th class='name'>{% trans "From" %}</th> 
    <th class='name'>{% trans "To (Groups)" %}</th>
    <th class='name'>{% trans "Message" %}</th>
    <th class='name'>{% trans "Date" %}</th>
</tr>
{% for message in latest_messages %}
<tr{% if forloop.last %} class=""{% endif %}>
<td>{{ message.sender }}</td> 
<td>{{ message.groups_list }}</td>
<td>{{ message.short_text }}</td>
<td>{{ message.date|naturalday }}</td>
</tr>
{% endfor %}
<tr></tr>
</table>

<h2>{% trans "Statistics" %}</h2>

<table class='list' dir="rtl"> 
    <colgroup> 
    <col class='name' />
    <col class='number' />
    </colgroup> 
<tr class='secondRow doNotFilter'>
    <th style="text-align:{% trans 'left;' %}" class='name'>{% trans "Description" %}</th> 
    <th style="text-align:{% trans 'left;' %}" class='number'>{% trans "Value" %}</th>
</tr>
{% for stat in stats %}
<tr>
<td style="text-align:{% trans 'left;' %}" class="name">{{ stat.0 }}</td> 
<td style="text-align:{% trans 'left;' %}" class="number">{{ stat.1 }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}
