{% extends "base.html" %}
{% load i18n %}
{% block javascript %}
<script>
function deleteMessage(url){
 if (confirm("{% trans 'Do you really want to delete this Message ??' %}")) {
   window.location=url;
 } 
}
</script>

{% endblock %}

{% block content %}

<h2> {% trans "Message Templates" %}</h2>
<TABLE class='list'>
    <colgroup> 
    <col class='number' />
    <col class='name' />
    <col class='number' />
    <col class='number' />
    </colgroup> 
<tr class='secondRow doNotFilter'>
    <th class='name'>{% trans "Code" %}</th> 
    <th class='name'>{% trans "Name" %}</th>
    <th class='name'>{% trans "Edit" %}</th>
    <th class='name'>{% trans "Delete" %}</th>
{% for message in messages %}
<tr>
<td class='name'>{{ message.code }}</td>
<td class='name'>{{ message.name }}</td>
<td class='name'><a  href="{% url messages_form message.id %}"><img style="border:0px" 
    src="/static/groupmessaging/edit-icon.jpeg" width="20" height="20" /> </a></td>
<td class='name'><a href = "javascript:deleteMessage('{% url messages_delete message.id %}')">
<img style="border:0px" src="/static/groupmessaging/delete-icon.png" width="20" height="20"/> </a>
</td>
</tr>
{% endfor %}
</table>

<table class='list'> 
    <colgroup> 
    <col class='name' />
    <col class='number' />
    </colgroup> 
<tr class='secondRow doNotFilter'>
    <th class='name'></th> 
    <th class='number'></th>
</tr>
<table class='list'> 
    <colgroup> 
    <col class='name' />
    <col class='number' />
    </colgroup> 
<tr class='secondRow doNotFilter'>
    <th class='name'>{% trans "Total Messages" %}</th> 
    <th class='number'>{{ count }}</th>
</tr>
{% endblock %}

{% block submenu %}

<ul><li><a href="{% url messages_add %}">{% trans "Create a new Message Template" %}</a></li>
<li><a href="{% url messages_send %}">{% trans "Send Message Template" %}</a></li>

{% endblock %}


