{% extends "base.html" %}

{% block content %}
{% load i18n %}
<form action="{% url recipient recipientid %}" method="POST" class="pretty">
<fieldset> 
<legend>
{% if recipientid %}
{% trans "Recipient Update Form" %}
{% else %}
{% trans "New Recipient Form" %}
{% endif %}
</legend>

<table>
{% for field in form %}
<tr>
<td>{{ field.label_tag }}</td><td>{{ field }} {%if field.errors %}<div class='djangoerrors'>{% for error in field.errors %}{{ error }}{% endfor %}</div>{% endif %}</td>
</tr>
{% endfor %}
</table>

<p class="buttons"> 
<button type="submit" class="button positive icon tick">{% trans "Save" %}</button>
<a class="button negative icon cross" href="{% url recipients_list %}">{% trans "Cancel" %}</a>
</p> 
</fieldset> 

{% endblock %}

{% block submenu %}
<ul><li><a href = "{% url recipients_list %}" >{% trans "Back to recipient list" %}</a></li></ul>
<ul><li>{{ validationMsg }}</li></ul>
{% endblock %}
