{% extends "base.html" %}
{% load i18n %}
{% block javascript %}

{% endblock %}

{% block content %}

<h2> {% trans "Surveys List" %}</h2>
<TABLE class='list'>
    <colgroup> 
    <col class='number' />
    <col class='name' />
    <col class='number' />
    <col class='number' />
    </colgroup> 
<tr class='secondRow doNotFilter'>
    <th class='name'>{% trans "Reference" %}</th>
    <th class='name'>{% trans "Title" %}</th>
    <th class='name'>{% trans "# of Questions" %}</th>
    <th class='name'>{% trans " " %}</th>
    <th class='name'>{% trans "Creation Date" %}</th>
    <th class='name'>{% trans "Edit" %}</th>
    <th class='name'>{% trans "Delete" %}</th>
    <th class='name'>{% trans "Add Quetion" %}</th>
{% for survey in surveys %}
<tr>
<td class='name'>{{ survey.reference_code }}</td>
<td class='name'>{{ survey.title }}</td>
<td class='name'><a  href="{% url survey_form survey.id %}"><img style="border:0px"
    src="/static/groupmessaging/edit-icon.jpeg" width="20" height="20" /> </a></td>
<td class='name'>{{ survey.addition_date }}</td>
</tr>
{% endfor %}
</table>

<table class='list'> 
    <colgroup> 
    <col class='name' />
    <col class='number' />
    </colgroup> 
<tr class='secondRow doNotFilter'>
    <th class='name'></th> 
    <th class='number'></th>
</tr>
<table class='list'> 
    <colgroup> 
    <col class='name' />
    <col class='number' />
    </colgroup> 
<tr class='secondRow doNotFilter'>
    <th class='name'>{% trans "Total Surveys" %}</th>
    <th class='number'>{{ count }}</th>
</tr>
{% endblock %}

{% block submenu %}




{% endblock %}


