{% extends "groups_users/base.html" %}
{% load i18n %}

{% block title %}{% trans "Recipients" %}{% endblock %}

{% block content %}
<form id='add-edit-recipient' action="" method="POST" class="pretty"> {% csrf_token %}
    <fieldset> 
        <legend>
            {% if recipient %}
                {% trans "Update Recipient" %}
            {% else %}
                {% trans "New Recipient" %}
            {% endif %}
        </legend>
        <table>
            {{ form }}
        </table>
        {{ formset.management_form }}
        <table>
        {% for form in formset.forms %}
            <tr>
            {% for field in form.visible_fields %}
                <td>
                    {{ field.label_tag }}: {{ field }}
                    {% if field.errors %}
                        <div class='djangoerrors'>
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </td>
            {% endfor %}
                <td>
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </table>

        <p class="buttons"> 
            <button type="submit" class="button positive icon tick">{% trans "Save" %}</button>
            <a class="button negative icon cross" href="{% url list_recipients %}">{% trans "Cancel" %}</a>
        </p>
    </fieldset>
</form>
{% endblock %}
