{% extends "groups_users/base.html" %}
{% load i18n %}

{% block title %}{% trans "Recipients" %}{% endblock %}

{% block content %}
{% load i18n %}

<form id='recipient' action="" method="POST" class="pretty" enctype="multipart/form-data">{% csrf_token %}
    <fieldset>
        <legend>
            {% trans "CSV Upload" %}
        </legend>
        
        <h4>Example Column Layout</h4>
        <table class='list auto'>
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Number</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>12223334444</td>
                <td>USA</td>
                <td>Raleigh</td>
                <td>40</td>
                <td>M</td>
                <td>"Works for TWB"</td>
            </tr>
        </table>
        
        <table>
            {{ form }}
        </table>
        <p class="buttons"> 
        <button type="submit" class="button positive icon tick">{% trans "Save" %}</button>
        <a class="button negative icon cross" href="{% url list_recipients %}">{% trans "Cancel" %}</a>
        </p>
    </fieldset>
</form>
{% endblock %}
