{% extends "groups_users/base.html" %}
{% load i18n %}

{% block title %}{% trans "Recipients" %}{% endblock %}

{% block content %}
<h2>{% trans "Recipients" %}</h2>
<ul class='horizontal'>
    <li><a href="{% url recipient_add %}" >Add recipient</a></li>
    <li><a href="{% url manage_recipients %}" >CSV Upload</a></li>
</ul>

<table class='list auto'>
    <thead>
        <tr>
            <th>ID</th>
            <th>Text</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for recipient in recipients %}
            <tr>
                <td>{{ recipient.pk }}</td>
                <td>{{ recipient.name }}</td>
                <td>
                    <a href="{% url update_recipient recipient.id %}" title="Edit" class="edit-link">
                        <img class='action' alt='Edit' src="{{ MEDIA_URL }}group_messaging/edit-icon.jpeg" />
                    </a>
                </td>
                <td>
                    <a href="{% url recipients_delete recipient.id %}" title="Edit" class="delete-link">
                        <img class='action' alt='Delete' src="{{ MEDIA_URL }}group_messaging/delete-icon.png" />
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
