from souktel_alert.settings import *

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql_psycopg2",
        "NAME": "souktel",
        "USER": "",
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}

INSTALLED_BACKENDS['clickatell'].update({
    'user': '',
    'password': '',
    'api_id': '',
})

INSTALLED_BACKENDS['javna'].update({
    'host': '',
    'port': '',
})
