{% extends "base.html" %}

{% block title %}Message Log - {{ block.super }}{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}messagelog/stylesheets/messagelog.css" />
{% endblock %}

{% block content %}
<div class="messages module">
	<h2>Message Log</h2>
	{{ messages_table.as_html }}
        <tr class="">
<td colspan="5"><span>
        {% if message_table.has_previous %}
            <a href="?page={{ outgoinglog.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ message_table.number }} of {{ message_table.paginator.num_pages }}.
        </span>

        {% if message_table.has_next %}
            <a href="?page={{ outgoinglog.next_page_number }}">next</a>
        {% endif %}
    </span> &nbsp;&nbsp; |&nbsp;&nbsp;<span> Total number {{ count }}</span> </td>

</tr>
</div>
{% endblock %}
