{% extends "base.html" %}

{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

{% block content %}
<h2>{% trans "Incoming / Outgoing Messages log" %}</h2>
<form action="" method="get">{% csrf_token %}
{{ messagelogfilter.form.as_p }}
<input type="submit" />
</form>
<table class='list'>
<colgroup>
    <col class='name' />
    <col class='number' />
    <col class='number' />
    <col class='name' />
    <col class='name' />
</colgroup>
<tr class='secondRow doNotFilter'>
<th class='name' >Date</th>
<th class='name' > Contact</th>
<th class='name' >Direction</th>
<th class='name' >Connection</th>
<th class='name' >Text</th>


</tr>
{% for message in messagelogfilter %}
<tr {% if forloop.last %} class=""{% endif %}>
<td class='name'>{{message.date|date:"Y-m-d h:i a"}}</td>
<td class='name'>{{message.contact}}</td>
<td class='name'>{{message.direction}}</td>
<td class='name'>{{message.connection}}</td>
<td class='name'>{{message.text}}</td>
</tr>
{% endfor %}

<tr class="">
<td colspan="5"><span>
        {% if messagelog.has_previous %}
            <a href="?page={{ messagelog.previous_page_number }}">{% trans "previous" %}</a>
        {% endif %}

        <span class="current">
            {% trans "Page" %} {{ messagelog.number }} {% trans "of" %} {{ messagelog.paginator.num_pages }}.
        </span>

        {% if messagelog.has_next %}
            <a href="?page={{ messagelog.next_page_number }}">{% trans "next" %}</a>
        {% endif %}
    </span> &nbsp;&nbsp; |&nbsp;&nbsp;<span> {% trans "Total number" %} = {{ count }}</span> </td>

</tr>
</table>
<p> {{ validationMsg }} </p>
{% endblock %}

{% block submenu %}
<ul>
<li><a href = "{% url export %}" >Export to csv</a></li>
</ul>
{% endblock %}