{% extends "base.html" %}

{% block title %}Message Log - {{ block.super }}{% endblock %}

{% block stylesheets %}
{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}messagelog/stylesheets/messagelog.css" />
{% endblock %}

{% block content %}

<form action="" method="get">{% csrf_token %}
{{ messagelogfilter.form.as_p }}
<input type="submit" />
</form>
<!--<div class="messages module">
	<h2>Messages Log</h2>
	{{ messages_table.as_html }}
        <h1>Total No. of Messages |{{ count }} </h1>
</div>
-->

<table class='list'>
<colgroup>
    <col class='name' />
    <col class='name' />
    <col class='number' />
    <col class='name' />
    <col class='name' />
</colgroup>
<tr class='secondRow doNotFilter'>
<th class='name' >Contact</th>
<th class='name' >Connection</th>
<th class='number' >Direction</th>
<th class='name' >Date</th>
<th class='name' >Text</th>

</tr>
{% for message in messages_log %}
<tr {% if forloop.last %} class=""{% endif %}>
<td class='name'>{{message.contact}}</td>
<td class='name'>{{message.connection}}</td>
<td class='number'>{{message.direction}}</td>
<td class='name'>{{message.date}}</td>
<td class='name'>{{message.text}}</td>
</tr>
{% endfor %}


{% endblock %}