{% extends "base.html" %}
{% load humanize %}
{% load i18n %}
{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block content %}

<h2>{% trans "Latest Messages" %}</h2>

<table class='list auto'>
    <thead>
        <tr>
            <th>Date</th>
            <th>Direction</th>
            <th>Contact</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        {% for message in latest_messages %}
            <tr>
                <td>{{ message.date|date:"Y-m-d h:i a" }}</td>
                <td>{{ message.direction }}</td>
                <td>{{ message.contact }}</td>
                <td>{{ message.text|truncatewords:10 }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h2>{% trans "Statistics" %}</h2>

<table class='list auto'> 
    <thead>
        <tr>
            <th>{% trans "Value" %}</th>
            <th>{% trans "Description" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for stat in stats %}
            <tr>
                <td>{{ stat.1 }}</td> 
                <td>{{ stat.0 }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

