
div#header p.login {
    line-height: 1.6em;
    font-style: normal;
    float: right;
}

div#header p.login a {
    color: white;
}

h2 {
    border-top: 0;
    padding-top: 1em;
}

div#menu {

}

div#menu ul {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    padding-bottom: 0.5em;
}

div#menu ul.mainmenu {
    border-bottom: 1px solid #3a75bd;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

div#menu ul li {
    display: inline;
    padding-left: 1em;
}

div#menu ul li a {
    font-weight: bold;
    margin: 0;
    display: inline;
    color: #5296de;
    text-decoration: none;
}

label {font-weight:bold;}
fieldset {padding:1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;}
input[type=text], input[type=password], input.text, input.title, textarea, select {background-color:#fff;border:1px solid #bbb;}
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus {border-color:#666;}
input[type=text], input[type=password], input.text, input.title, textarea, select {margin:0.5em 0;}
form.pretty [type=text], input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}
input[type=checkbox], input[type=radio], input.checkbox, input.radio {position:relative;top:.25em;}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}
.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

.djangoerrors {
    width: auto;
    color: white;
    background-color: pink;
    padding: 0.2em;
    display: inline;
}

button.icon, a.icon, p.icon, div.icon {
    background-repeat: no-repeat;
    background-position: 0.5em 0.4em;
    padding-left: 2em;
}

button.tick, a.tick, p.tick, div.tick {
    background-image: url('/static/groupmessaging/blueprint/plugins/buttons/icons/tick.png');
}

button.cross, a.cross, p.cross, div.cross {
    background-image: url('/static/groupmessaging/blueprint/plugins/buttons/icons/cross.png');
}
