{% extends "tree/base.html" %}
{% load i18n %}

{% block title %}{% if auto_tag %}Edit{% else %}Create{% endif %} Tag{% endblock %}

{% block content %}

<h2>{% if auto_tag %}Edit{% else %}Create{% endif %} Tag</h2>

<form action="" method="post" accept-charset="utf-8">
    {% csrf_token %}
    <table id='tags' class='auto'>
        {{ form }}
    </table>
    <p class="buttons"> 
    <button type="submit" class="button positive icon tick">{% trans "Save" %}</button>
    <a class="button negative icon cross" href="{% url list-tags %}">{% trans "Cancel" %}</a>
    </p>
</form>

{% endblock %}
