{% extends "tree/base.html" %}
{% load tree-tags %}

{% block title %}Decision Trees{% endblock %}

{% block stylesheets %}<link type="text/css" rel="stylesheet" href="/static/tree/stylesheets/tree.css" />{% endblock %}

{% block content %}

<h1>Entries</h1>
<br />


<table class='auto'>
    <thead>
        <th>Survey</th>
        <th>Contact</th>
        <th>Date</th>
        <th>Question</th>
        <th>Answer</th>
        <th>Tags</th>
    </thead>
    <tbody>
    {% for entry in entries %}
        <tr>
            <td>{{ entry.session.tree.trigger }}</td>
            <td>{{ entry.session.connection.contact }}</td>
            <td>{{ entry.time|date:"Y-m-d h:i a" }}</td>
            <td>{{ entry.transition.current_state.question.text }}</td>
            <td>{{ entry.transition.answer }}</td>
            <td>
                <a href='{% url update-entry entry.pk %}' title='Edit tags'>
                    {% for tag in entry.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
