{% extends "tree/base.html" %}

{% block title %}Answers{% endblock %}

{% block content %}

<h2>Answers</h2>
<ul class='horizontal'>
    <li><a href="{% url add_answer %}">Add answer</a></li>
</ul>

<table class='list auto'>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Answer</th>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for answer in answers %}
            <tr>
                <td>{{ answer.pk }}</td>
                <td>{{ answer.name }}</td>
                <td>{{ answer.get_type_display }}</td>
                <td>{{ answer.answer }}</td>
                <td>{{ answer.description }}</td>
                <td>
                    <a href="{% url insert_answer answer.id %}" title="Edit" class="edit-link">
                        <img class='action' alt='Edit' src="{{ MEDIA_URL }}group_messaging/edit-icon.jpeg" />
                    </a>
                </td>
                <td>
                    <a href="{% url delete_answer answer.id %}" title="Edit" class="delete-link">
                        <img class='action' alt='Delete' src="{{ MEDIA_URL }}group_messaging/delete-icon.png" />
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
