{% extends "base.html" %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}tree/stylesheets/tree.css" />
{% endblock %}

{% block submenu %}
    <ul>
        <li><a href='{% url list-surveys %}'>Surveys</a></li>
        <li><a href='{% url list-questions %}'>Questions</a></li>
        <li><a href='{% url answer_list %}'>Answers</a></li>
        <li><a href='{% url state_list %}'>States</a></li>
        <li><a href='{% url path_list %}'>Paths</a></li>
        <li><a href='{% url list-tags %}'>Tags</a></li>
    </ul>
{% endblock %}
