{% extends "tree/base.html" %}
{% load tree-tags %}

{% block title %}Decision Trees{% endblock %}

{% block stylesheets %}<link type="text/css" rel="stylesheet" href="/static/tree/stylesheets/tree.css" />{% endblock %}

{% block content %}

<h2>Survey Report</h2>
{# <div class="module"> #}
{#     <h1>Filter</h1> #}
{# </div> #}
{# <form action="{% url answer_filter %}" method="POST" class="pretty"> #}
{#     {% csrf_token %} #}
{#     <fieldset> #}
{#         <legend>Filter by Answer</legend> #}
{#         <table> #}
{#             {{ form }} #}
{#             <tr> #}
{#                 <td>&nbsp;</td> #}
{#                 <td><button type="submit" class="button positive icon tick">Search</button></td> #}
{#             </tr> #}
{#         </table> #}
{#     </fieldset> #}
{# </form> #}


<table class='list auto'>
    <thead>
        <th>Contact</th>
        <th>Date</th>
        {% for state in states %}
            <th>{{ state }}</th>
        {% endfor %}
    </thead>
    <tbody>
    {% for session in sessions %}
        <tr>
            <td>
                {% if session.connection.contact %}
                    {{ session.connection.contact }}
                {% else %}
                    {{ session.connection }}
                {% endif %}
            </td>
            <td>{{ session.start_date|date:"Y-m-d h:i a" }}</td>
            {% for state, entry in session.ordered_states %}
                <td scope="row">
                    {{ entry.transition.answer.answer }}
                    {% if entry %}
                        <a href='{% url update-entry entry.pk %}' title='Edit tags'>
                            {% if entry.cached_tags %}
                                ({{ entry.cached_tags|join:", " }})
                            {% else %}
                            (Add tags)
                            {% endif %}
                        </a>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        {% for state in states %}
        <td>
            {% if state.stats %}
            <div class='totals'>
                <span class='stat-header'>Totals:</span>
                {% for answer, count in state.stats.answers.iteritems %}
                    <span class='stat-answer'>{{ answer }}</span>: <span class='stat-count'>{{ count }} ({% widthratio count state.stats.total 100 %}%)</span>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>    
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    </tbody>
</table>



{% comment %}

<h2>Recent sessions for "{{ tree.trigger }}"</h2>

<table class='auto'>
    <thead>
        <th>Connection</th>
        <th>Date</th>
    </thead>
    <tbody>
    {% for session in ordered_sessions %}
        <tr>
            <td>{{ session.connection }}</td>
            <td>{{ session.start_date|date:"Y-m-d h:i a" }}</td>
            {% for entry in session.entries.select_related %}
                <td scope="row">
                    <span class='question'>{{ entry.transition.current_state.question.text }}</span>
                    <span class='answer'>{{ entry.transition.answer.answer }}</span>
                </td>
                {% if not forloop.last %}
                    <td class='transition'>&rarr;</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

        
        

<!--        {% else %}

       {% if sessions and paths and loops %}
        <thead>
            <tr>
                <th scope="col">Person</th>
                <th scope="col">Start Date</th>
                {% for path in paths.keys %}
                
                <th scope="col">{{ path }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        
   			{% for session in sessions %}
            <tr>
                <th scope="row">{{ session.person.phone }}</th>
                <td>{{ session.start_date }}</td>
                {% for path, map in paths.items %}
                <td>
                    <!--  this is really ugly but it works.  does a lot of unneccessary iteration 
                           because django templates don't seem to support an easy way to do this correctly. -->
    <!--                {% for map_session, value in map.items %}
                        {% ifequal session map_session %}
                            {{ value }}
                        {% endifequal %}
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
         </tbody>
        {% else %}
         
        
		
        	<thead>
			<tr class="no-data">
				<td colspan="2">
					No Data Yet.
				</td>
			</tr>
			</thead>
	   {% endif %}
       
        
		<tfoot>
		    {% if sessions %}
			<tr>
				<td colspan="2">
					<a href="export/{{t.id}}">
						Export to Excel
					</a>
				</td>
			</tr>
			{% endif %}
		</tfoot>
		{% endif %}
	</table>
	{% endif %}
</div>

<div class="module dt">
	<h2>Edit a Decision Tree</h2>
	{% if t and not loops %}{% render_state t.root_state %}
	{% else %} 
	  Sorry this tree has loops.  This is not yet supported!
	{% endif %}
	
</div>-->
{% endcomment %}
{% endblock %}
