{% extends "tree/base.html" %}

{% block title %}Survey{% endblock %}

{% block content %}

<h2>Surveys</h2>
<ul class='horizontal'>
    <li><a href = "{% url add_tree %}" >Add survey</a></li>
</ul>

<table class='list auto'>
    <thead>
        <th>ID</th>
        <th>Keyword</th>
        <th>First State</th>
        <th># Sessions</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Report</th>
    </thead>
    <tbody>
    {% for survey in surveys %}
        <tr>
            <td>{{ survey.pk }}</td>
            <td>{{ survey.trigger }}</td>
            <td>{{ survey.root_state.question.text }}</td>
            <td>{{ survey.count }}</td>
            <td>
                <a href="{% url insert_tree survey.id %}" title="Edit" class="edit-link">
                    <img class='action' alt='Edit' src="{{ MEDIA_URL }}group_messaging/edit-icon.jpeg" />
                </a>
            </td>
            <td>
                <a href="{% url delete_tree survey.id %}" title="Edit" class="delete-link">
                    <img class='action' alt='Delete' src="{{ MEDIA_URL }}group_messaging/delete-icon.png" />
                </a>
            </td>
            <td>
                <a href="{% url survey-report survey.id %}" title="Edit" class="report-link">
                    <img class='action' alt='Report' src="{{ MEDIA_URL }}group_messaging/report.gif" />
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}