{% extends "base.html" %}
{% block title %}Decision Trees{% endblock %}
{% block page_stylesheets %}<link type="text/css" rel="stylesheet" href="/static/tree/stylesheets/tree.css" />{% endblock %}
{% block content %}
{% load tree-tags %}

<div class="module">
    <a href="{% url add_tree %}" class="add">Add</a>
</div>

<div class="module">
	<h2>All Surveys</h2>
	<table>
		<thead>
			<tr>
				<th scope="col">Keyword</th>
				<th scope="col">First Question</th>
                                <th scope="col">Report</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>{% if trees %}{% for tree in trees %}
			<tr>
                <th scope="row">{{ tree.trigger }}</th>
				<td>{{ tree.root_state.question}}</td>
				<td><a href="tree/data/{{tree.id}}">view data</a></td>
			</tr>{% endfor %}{% else %}
			<tr class="no-data">
				<td colspan="2">
					No Trees Yet.
					<a href="admin/decisiontree/" class="add">
						Add a Tree
					</a>
				</td>
			</tr>{% endif %}
		</tbody>

                <table class='list'>
                 <colgroup>
                    <col class='name' />
                    <col class='number' />
                 </colgroup>
                    <tr class='secondRow doNotFilter'>
                    <th class='name'>Total Surveys</th>
                    <th class='number'>{{ count }}</th>
                    </tr>
               	</table>
        </table>
</div>

<!--<div class="module dt">
	<h2>Edit a Decision Tree</h2>
	{% if t %}{% render_state t.root_state %}{% endif %}
</div> -->

<!--<div class="module">
	<h2>Add a Decision Tree</h2>
	<form method="post" action="/">
		<label for="dt-add-trigger">Trigger</label>
		<input id="dt-add-trigger" type="text" name="trigger" />
	</form
</div>-->
{% endblock %}
