{% extends "tree/base.html" %}

{% block title %}Questions{% endblock %}

{% block content %}

<h2>Questions</h2>
<ul class='horizontal'>
    <li><a href="{% url add_question %}">Add question</a></li>
</ul>

<table class='list auto'>
    <thead>
        <tr>
            <th>ID</th>
            <th>Text</th>
            <th>Error Response</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.pk }}</td>
                <td>{{ question.text }}</td>
                <td>{{ question.error_response|truncatewords:10 }}</td>
                <td>
                    <a href="{% url insert_question question.id %}" title="Edit" class="edit-link">
                        <img class='action' alt='Edit' src="{{ MEDIA_URL }}group_messaging/edit-icon.jpeg" />
                    </a>
                </td>
                <td>
                    <a href="{% url delete_question question.id %}" title="Edit" class="delete-link">
                        <img class='action' alt='Delete' src="{{ MEDIA_URL }}group_messaging/delete-icon.png" />
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
