{% extends "tree/base.html" %}

{% block title %}States{% endblock %}

{% block content %}

<h2>States</h2>
<ul class='horizontal'>
    <li><a href = "{% url add_state %}" >Add state</a></li>
</ul>

<table class='list auto'>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Question</th>
            <th># Retries</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for state in states %}
            <tr>
                <td>{{ state.pk }}</td>
                <td>{{ state.name }}</td>
                <td>{{ state.question.text }}</td>
                <td>{{ state.num_retries }}</td>
                <td>
                    <a href="{% url insert_state state.id %}" title="Edit" class="edit-link">
                        <img class='action' alt='Edit' src="{{ MEDIA_URL }}group_messaging/edit-icon.jpeg" />
                    </a>
                </td>
                <td>
                    <a href="{% url delete_state state.id %}" title="Edit" class="delete-link">
                        <img class='action' alt='Delete' src="{{ MEDIA_URL }}group_messaging/delete-icon.png" />
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
