{% extends "base.html" %}
{% block javascript %}
    <script>
    function deleteMessage(url){
    if (confirm("Do you really want to delete this State ??")) {
      window.location=url;
    }
    }
</script>
{% endblock %}
{% block title %}States{% endblock %}
{% block page_stylesheets %}<link type="text/css" rel="stylesheet" href="/static/tree/stylesheets/tree.css" />{% endblock %}

{% load tree-tags %}
{% block content %}

<div class="module">
<h2> states List</h2>
<table class='list'>
    <colgroup> 
    <col class='number' />
    <col class='name' />
    <col class='number' />
    <col class='number' />
    <col class='number' />
    <col class='number' />
    </colgroup>
    <tr class='secondRow doNotFilter'>
    <th class='name'>ID</th>
    <th class='name'>State Name</th>
    <th class='name'>Question</th>
    <th class='name'>Edit</th>
    <th class='name'>Delete</th>
    
        {% if states %}{% for state in states %}
    <tr>
    <td class='name'>{{ state.id}}</td>
    <td class='name'>{{ state.name }}</td>
    <td class='name'>{{ state.question }}</td>
    
    <td class='name'><a  href="{% url insert_state state.id %}"><img style="border:0px"
        src="/static/group_messaging/edit-icon.jpeg" width="20" height="20" /> </a>
    </td>
    <td class='name'><a href = "javascript:deleteMessage('{% url delete_state state.id %}')">
        <img style="border:0px" src="/static/group_messaging/delete-icon.png" width="20" height="20"/> </a>
    </td>
    <td class='name'><a href =""></a>
    </tr>
        {% endfor %}
        {% endif %}

</div>
       <tr class="">
            <td colspan="6" ><span>
                    {% if Glist.has_previous %}
                    <a href="?page={{ Glist.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ Glist.number }} of {{ Glist.paginator.num_pages }}.
                    </span>

                    {% if Glist.has_next %}
                    <a href="?page={{ Glist.next_page_number }}">next</a>
                    {% endif %}
                </span > &nbsp;&nbsp; |&nbsp;&nbsp;<span>No. of the States = {{ stotal }}</span> </td>

        </tr>
</table>

{% endblock %}

{% block submenu %}
<ul><li><a href = "{% url add_state %}" >Add new State</a></li>
<li><a href = "tree" >Back to Question list</a></li></ul>
{% endblock %}

