{% extends "tree/base.html" %}

{% block content %}
{% load i18n %}
<form action="" method="POST" class="pretty"> {% csrf_token %}
<fieldset> 
<legend>
{% if stateid %}
{% trans "Update State" %}
{% else %}
{% trans "New State" %}
{% endif %}
</legend>

<table>
{{ form }}
</table>

<p class="buttons"> 
<button type="submit" class="button positive icon tick">{% trans "Save" %}</button>
<a class="button negative icon cross" href="{% url state_list %}">{% trans "Cancel" %}</a>
</p> 
</fieldset> 

{% endblock %}
